.bash_profile
# PyTorch model files
*.pt

# TensorFlow event logs
events.out.tfevents.*

# Python cache files
__pycache__/
*.pyc

# Mac system files
.DS_Store

# Ignore model files and logs
Business Recommendation System/models/logs/
Business Recommendation System/models/*.pt
